<div data-sly-use.blog="com.project.core.models.Blog" ></div>
<!-- Start recent-blog Area -->
			<section class="recent-blog-area section-gap">
				<div class="container">
					<div class="row">	
						<div class="single-recent-blog col-lg-4 col-md-4">
							<div class="thumb">
								<img class="f-img img-fluid mx-auto" src="${blog.image}" alt="">	
							</div>							
							<a href="#">
								<h4>${blog.title}</h4>
							</a>
							<p>${blog.description}</p>
						</div>
                      </div>
                     </div>
                    </section>
